body {
background-color: rgb(127, 145, 145);
}



section{
background-color: cornflowerblue;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 50vh;
align-items: center;
flex-wrap: wrap;
}
h1{ 
  background-color: rgb(121, 70, 187);
  text-align: center;

}
div {
  background-color: rgb(226, 98, 98) ;
  color: rgb(250, 204, 204);
  width: 100PX;
  
}
.dark-gray { 
  background-color: rgb(63, 62, 62);
  color: rgb(130, 132, 134);
  
}

.orange {
  background-color: rgb(240, 77, 18);
  color: rgb(243, 221, 197);
}

.Red{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 211, 208);
}

.black {
  background-color: black;
  color: beige;
}

.Action {
  color: rgb(243, 195, 193);
}


.Horror{
  color: rgb(184, 182, 182);
}


.Romance{
  color: rgb(252, 167, 210);
}


.Comedy {
  color: rgb(236, 201, 188);
}


.Sci-fi{
  color: rgb(250, 240, 201);
}




