body {
background-color: rgb(127, 145, 145);
}



section{
background-color: cornflowerblue;
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 50vh;
align-items: center;
flex-wrap: wrap;
}
h1{ 
  background-color: rgb(121, 70, 187);
  text-align: center;

}
div {
  background-color: rgb(226, 98, 98) ;
  color: rgb(250, 204, 204);
  width: 100PX;
  margin-left: auto;
  margin-right: auto;
  
}
.dark-gray { 
  background-color: rgb(63, 62, 62);
  color: rgb(130, 132, 134);
  
}

.orange {
  background-color: rgb(240, 77, 18);
  color: rgb(243, 221, 197);
}

.Red{
  background-color: rgb(255, 0, 0);
  color: rgb(255, 211, 208);
}

.black {
  background-color: black;
  color: beige;
}

.Action {
  color: rgb(243, 195, 193);
  padding: 5px;
}


.Horror{
  color: rgb(184, 182, 182);
  padding: 5px;
}


.Romance{
  color: rgb(252, 167, 210);
  padding: 5px;
}


.Comedy {
  color: rgb(236, 201, 188);
  padding: 5px;
 
}


.Sci-fi{
  color: rgb(250, 240, 201);
  padding: 5px;
}

a {
  display: block;
}

.Romance:hover {
  background-color: rgb(167, 42, 33);
}

.Action:hover {
  background-color: rgb(99, 3, 3);
}
.Horror:hover{
  background-color: black;
}
.Comedy:hover{
  background-color: rgb(253, 126, 22);
}
.Sci-fi:hover{
  background-color: rgb(58, 56, 32);
}